.container1 {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-items: center; 
    
}
.container2{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-items: center; 

}

.container1 img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    transition: transform 0.3s; 
}

.container1 img:hover {
    transform: scale(1.05); 
}

.container2 img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    transition: transform 0.3s; 
}

.container2 img:hover {
    transform: scale(1.05); 
}