body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 45px;
    background-color: rgb(212, 212, 212);
    font-family: "Signika", sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.nav-logo{
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav-info{
  
    height: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width:600px) {
    .nav-info {
        display: none;
    }
}

.nav-logo > img{
    width: 150px;
    height: 35px;
    border-radius: 50px;
    
}
.nav-info > a{
    margin: 5px;
    font-family: "Signika", sans-serif;
    text-decoration: none;
    color: black;
   
}
.nav-signup{
    
    height: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.nav-signup > img{
    margin: 10px;
}
.nav-signup > button{
    background-color: rgba(240, 248, 255, 0);
    border-radius: 30px;
    border: solid black 2px;
    margin: 5px;
    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}


.poster{
    width: 80%;
    height: 250px;
    margin-top: 30px;
}
.poster-image > img{
    background-color: aqua;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.poster-text{
    width: 100%;
    height: 200px;
    margin-top: -180px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@media only screen and (max-width:600px) {
    .poster-text >p {
        display: none;
    }
}   
.poster-text > p, .poster-text > h1{
    margin: 5px 20px;
    color: white;
    width: 65%;
    
}

.poster-text > button{
    color: black;
    margin: 20px 20px;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 30px;
    border: solid white 2px;
    padding: 5px;
    background-color: white;

}

.menu{
    display: flex;
    flex-direction: column;
     
    justify-content: space-around;
    
    width: 80%;
    height: 300px;
    margin-bottom: 100px;


}
.text{
    display: flex;
    flex-direction: column;
    
    
}
.text > h1{
    font-family: "Signika", sans-serif;
}

.menu-item{
    width: 100%;
    height: 300px;
    gap: 40px;

    display: flex;
    flex-direction: row;
    padding: 10px 0;   
    align-items: center;
    overflow-y:hidden; 
            
}
.food-item{
    width: 200px;
    height: 100%;
    padding: 10px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.food-item > img{
    width: 90px;
    height: 280px;
    border-radius: 100%;
    object-fit: cover; 
}
.food-item > p{
    margin-top: 5px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.food-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


