*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
}
.name{
    margin-left: 2%;
}
.name h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.container1{
    display: flex;
    gap: 50%;
    margin-top: 1%;
}
.image{
    height: 120px;
    width: 120px;
    border-radius: 200%;
    margin-bottom: 10%;
}
.line{
    border: solid 1.5px;
    margin-left: 1%;
    margin-right: 1%;
}

.container2{
    margin-top: 3%;
    border: solid 1.5px;
    margin-left: 2%;
    margin-right: 2%;
    height: 380px;
}
.des{
    background-color: white;
    margin: 1%;
    border: solid 1.5px;

}
.para{
    padding: 1%;
}
.education{
    margin-top: 2%;
    display: flex;
    margin-left: 1%;
    gap: 30%;
}
.tenth{
    background-color: #f5f5f5;
    border: solid 1.5px;
    width: 400px;
    padding-left: 1%;
    padding-bottom: 1%;
    
}
.college{
    background-color: #f5f5f5;
    border: solid 1.5px;
    margin-left: 15%;
    margin-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}
.tenth h1{
    color: #444DAD; 

}
.college h1 {
    color: #444DAD; 
}

.container3{
    border: solid 1px;
    margin-left: 2%;
    margin-right: 2%;
    height: 430px;
    margin-bottom: 2%;
    display: flex;
    gap: 20%;
}
.skill{
    background-color: white;
    margin-left: 1%;
    margin-top: 1%;
    border: solid 1px;
    height: 400px;
    width: 250px;
}
.exper{
    background-color: white;
    margin-top: 1%;
    margin-left: 3%;
    border: solid 1px;
    height: 400px;
    width: 250px;
}
.certi{
    background-color: white;
    margin-top: 1%;
    margin-left: 3%;
    border: solid 1px;
    height: 400px;
    width: 250px;
}

.skill h1{
    color: #444DAD; 
}
.exper h1{
    color: #444DAD; 
}
.certi h1{
    color: #444DAD;
}
.skill p{
    margin-left: 5%;
}
.exper p{
   margin-left: 5%;
}
.certi p{
 margin-left: 5%;
}
.exper h3{
    margin-left: 2%;
}
.exper h4{
    margin-left: 2%;
}
.exper h5{
    margin-left: 2%;
}








